html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #222;
    font-family: 'Titillium Web', sans-serif;
    font-display: optional;
    letter-spacing: 0.01rem;
    line-height: 2rem;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    color: #008cc3;
}
/* 00c1e7 */
/* 047ec5f6 */
button, a, i {
    cursor: pointer;
}

.contactNumber a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

.contactNumber a:hover {
    color: black;
}

.contactNumber {
    background: #008cc3!important;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.navbar {
    display: flex;
}

.navbar-brand {
    margin-left: 1.3rem;
}

.navbar-brand img {
    height: auto;
    width: 4rem;
}

.nav-link>img {
    padding: 2rem;
    color: #222 !important;
}

.anchor {
    display: block;
    height: 118px;
    /*same height as header*/
    margin-top: -118px;
    /*same height as header*/
    visibility: hidden;
}

.collapse:not(.show) {
    margin-left: 3rem;
}

.nav-link {
    color: #222 !important;
    font-weight: 500;
}

.nav {
    color: black;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

.navbar.navbar-default, .navbar button.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar.navbar-default, .navbar button.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

svg {
    height: 40px;
    width: auto;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

@keyframes growDown {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}

.collapse {
    animation: growDown 300ms ease-in-out forwards;
}

.nav-link:hover {
    color: #008cc3 !important;
}

.logoWrap{
    text-align: center;
    margin-right: 0.2rem;

}
.logo {
    height: 6.5rem; 
    width: auto;
}

.landingImgWrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.landingImg{
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    margin: 2.5rem;    
}

.statementList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.fa-tint {
    color: #008cc3;
    font-size: 3rem;
    margin: 0.5rem;
}

.carousel {
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel img {
    height: auto;
    width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background: rgb(34, 34, 34);
    background-image: linear-gradient(to right, #ccc, rgb(36, 35, 35), #ccc);
}

.aboutUsContainer {
    width: 95%;
}

.aboutUs {
    padding-top: 1rem;
    margin: 2rem 0 1rem 0;
    letter-spacing: 0.05rem;
    font-weight: 700 !important;
}

.lead {
    margin: 1rem;
    font-weight: 500 !important;
}

#services {
    margin-top: 2rem;
    height: auto;
    width: 100%;
}

#services>h2 {
    font-weight: 700 !important;
}

.card-title {
    font-weight: 700 !important;
}

.card {
    margin-top: 1rem;
    box-shadow: 4px 6px 6px -5px rgba(0, 0, 0, 0.95);
    -webkit-box-shadow: 4px 6px 6px -5px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 4px 6px 6px -5px rgba(0, 0, 0, 0.95);
}

.form-group {
    margin: 1.5rem;
}

.formCard {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

#contactUs {
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
}

.formSubmitBtn {
    margin-bottom: 1rem;
}

.contact {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    overflow: hidden;
    background-color: #008cc3;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.address {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}

.footerContactNumber {
    display: flex;
    justify-content: center;
}

.footerNumber {
    justify-content: center;
    margin-bottom: 0;
    text-decoration: none;
    color: white;
}

.footerEmailAddress {
    display: flex;
    justify-content: center;
}

.footerEmail {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: start;
    align-items: end;
}

.footerEmail:hover {
    color: black;
}

.footerNumber:hover {
    color: black;
}

footer>p {
    text-decoration: none;
    color: white;
    margin: 0.2rem 1rem 0.5rem 0.8rem;
}

.officeHours {
    width: 100%;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.dailyTimes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locations>p {
    display: inline;
    margin: 1rem;
}

/* mobile view */

@media only screen and (min-width: 320px) {
    .contactNumber {
        padding: 0.1rem;
    }
    .carousel {
        margin-top: 0;
        padding-top: 0;
    }
    .textGetInTouch {
        width: 100% !important;
    }
    .commercialCleaning {
        height: auto !important;
        width: 100% !important;
    }
    .commercialImg {
        height: 50vh !important;
        width: auto !important;
    }
    .locations {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center!important;
        align-items: center!important;
    }
}

@media only screen and (min-width: 575px) {
    .collapse:not(.show) {
        display: block !important;
    }
    .slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        font-size: 1.5rem;
    }
    .specialists {
        font-size: 1.5rem;
    }
    .locations {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center!important;
        align-items: center!important;
    }
}

@media only screen and (min-width: 650px) {
    .commercialCleaning {
        width: 50vw !important;
    }
}

@media only screen and (min-width: 776px) {
    .commercialCleaning {
        width: 50vw !important;
    }
    .commercialImg {
        width: auto !important;
        height: auto !important;
    }
    .contact {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .locations {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .landingImgWrapper{
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    
    .landingImg{
        justify-content: center;
        margin: 0 auto;
        height: 90%;
        width: auto;
        margin-bottom: 1rem;    
    }
    .logoWrap{
        text-align: center;
    
    }
    .logo {
        height: 8rem; 
        width: auto;
    }
    
}

@media only screen and (min-width: 1000px) {
    .carousel {
        height: auto;
        width: 60vw;
    }
    .carousel {
        margin-top: 2rem;
    }
    .commercialCleaning {
        width: 50vw !important;
    }
    .commercialImg {
        width: auto !important;
        height: auto !important;
    }

    .navbar-brand img {
        height: auto;
        width: 6rem;
    }

    .landingImgWrapper{
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    
    .landingImg{
        justify-content: center;
        margin: 0 auto;
        height: 90%;
        width: auto;
        margin-bottom: 1rem;    
    }

    .logoWrap{
        text-align: center;
    
    }
    .logo {
        height: 8rem; 
        width: auto;
    }

    .card{
        width: 50%;
    }
    
    
}


@media only screen and (min-width: 1920px) {
    .contactNumber {
        background: #008cc3!important;
        padding: 2rem;
        font-size: 1.8rem;
    }

    .contactNumber a{
        margin-bottom: 1.5rem;
    }

    .navbar-brand img {
        height: auto;
        width: 15rem;
    }

    a.nav-link {
        font-size: 3rem;
        margin-right: 2rem;
    }

    .carousel {
        height: auto;
        width: 60vw;
    }
    .carousel {
        margin-top: 2rem;
    }
    .commercialCleaning {
        width: 50vw !important;
    }
    .commercialImg {
        width: auto !important;
        height: auto !important;
    }

    .statementList > h3 {
        font-size: 4rem;
    }

    .fa-tint {
        font-size: 5rem;
    }

    .aboutUsContainer {
        width: 90%;
        height: auto;
    }
    
    .aboutUs {
        font-size: 5rem;
    }
    
    p.lead {
        margin: 1rem;
        padding: 1rem;
        font-weight: 500 !important;
        font-size: 5rem;
        line-height: 4.2rem;
    }

    #services >h2 {
        font-size: 5rem;
    }

    .card-text{
        font-size: 5rem;
        line-height: 4.2rem;
    }

    .card-title {
        font-weight: 700 !important;
        font-size: 4.5rem;
    }
    
    .card {
        margin-top: 1rem;
        box-shadow: 4px 6px 6px -5px rgba(0, 0, 0, 0.95);
        -webkit-box-shadow: 4px 6px 6px -5px rgba(0, 0, 0, 0.95);
        -moz-box-shadow: 4px 6px 6px -5px rgba(0, 0, 0, 0.95);
        width: 100%;
        height: auto;
    }

    #contactUs {
        height: 100%;
    }
    
    .landingImgWrapper{
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    
    .landingImg{
        justify-content: center;
        margin: 0 auto;
        height: 90%;
        width: auto;
        margin-bottom: 1rem;    
    }

    .logoWrap{
        text-align: center;
    
    }
    .logo {
        height: 18rem; 
        width: auto;
    }
    
    
}
